.ui.container {
  padding-top: 100px;


  
.title {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
}

.ui.inverted.green.button {

  display: flex;
  align-content: center;
  justify-content: center;

}}